<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerrio.mbg.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="com.jerrio.mbg.pojo.Class">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="building" jdbcType="VARCHAR" property="building" />
    <result column="capacity" jdbcType="VARCHAR" property="capacity" />
  </resultMap>
</mapper>
